[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"
[".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"
[".oh-my-zsh-custom/plugins/zsh-completions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-completions.git"
    refreshPeriod = "168h"
[".oh-my-zsh-custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "https://github.com/romkatv/powerlevel10k.git"
    refreshPeriod = "168h"
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"
[".asdf"]
    type = "git-repo"
    url = "https://github.com/asdf-vm/asdf.git"
    refreshPeriod = "168h"
[".scm_breeze"]
    type = "git-repo"
    url = "https://github.com/scmbreeze/scm_breeze.git"
    refreshPeriod = "168h"
{{- if eq .chezmoi.os "linux" }}
{{-   $arch := .chezmoi.arch }}
{{-   if eq .chezmoi.arch "amd64" }}
{{-     $arch = "x86_64" }}
{{-   end }}
[".local/bin/systemctl-tui"]
    type = "archive"
    url = "https://github.com/rgwood/systemctl-tui/releases/latest/download/systemctl-tui-{{ $arch }}-unknown-linux-musl.tar.gz"
    exact = true
    stripComponents = 1
    executable = true
    refreshPeriod = "168h"
{{- end }}
